html,
body {
  width: 100%;
  height: 100%;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue-gradient {
  background: linear-gradient(135deg, #073e8e 0%, #fff 100%);
}

.bg-blue {
  background: #0b5ed7;
}

.bg-white {
  background: #fff;
}
